<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>

    .out{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
        width: 100%;
        position:absolute;
        top:0%;
        left:0%;
        background-color:rgba(0,0,0,0.5);
    }
    .in{
            background-color:white ;
            height:300px ;
            padding:80px 50px;
            margin:10%;
            border-radius:9px;
            text-align: center;
    }
   
</style>


</head>
<body>
<div class="container">
  <div class="out">
     <div class="in">
      <form method="post">
        {% csrf_token %}
        <input type="email" name="email" value="{{email}}" placeholder="email here..."><br><br>
        <input type="password" name="password" value="{{password}}"placeholder="password here ..." ><br><br>
        <button type="submit">Filter</button>
    </form>
     </div>
 </div>
</div>
</body>
</html>